# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.challange3.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\projects\challange3\.idea\.idea.challange3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
